# Cloudflare Email Routing
CF_API_TOKEN=your-cloudflare-api-token
CF_ACCOUNT_ID=your-cloudflare-account-id
CF_ZONE_ID=your-cloudflare-zone-id
DOMAIN=example.com

# App
NODE_ENV=production
PORT=3000
BASE_URL=https://vuzon.example.com

# AUTH
AUTH_USER=admin
AUTH_PASS=tu_password_segura
